* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", serif;
}
body {
    background-color: #fefbb0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Contenedor {
    display: flex;
    flex-direction: column; 
    align-items: center;    
}

.Titulo{
    display: block;    
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: bold;
    color: #1f2b3a;
}
.Calculadora {
    background-color: #1f2b3a;
    color: white;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 500px;
    max-width: 100%;
    gap: .5rem;
}
.pantalla {
    grid-column: span 5;
    background-color: white;
    padding: 10px;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    text-align: right;
    margin-bottom: 4px;
    font-family: monospace;
    overflow: hidden;
    padding: 1.5rem;
    font-size: 2rem;
}
.btn{
    background-color: #80848a;
    color: white;
    padding: 1.5rem .5rem;
    border:0;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.btn:hover{
    background-color: #6c7076;
}
#Izquierda{
    grid-column: span 2;
}
#Derecha{
    grid-column: span 2;
}
#DEL{
    background-color: #f39c12;
    color: white;
}
#AC{
    background-color: #f39c12;
    color: white;
}
